 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Javascript</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I have experience with developing web apps using javascript, and have developed a number of sites using javascript.</p>
    </div>
    <div class="tech">
      <h2>Ruby</h2>
      <i class="devicon-git-plain"></i>
      <p>My ruby skills include the use of ruby on rails, and developing and implementing CRUD systems using ruby with a PostgreSQL server back-end.</p>
    </div>
    <div class="tech">
      <h2>HTML/CSS</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I have a good understanding and experience with HTML and CSS, including bootstrap and SASS.</p>
    </div>
</div>
