<div class="user-details">
   <h1> About Me </h1>
</div>

<div class="aboutme-info">
   <p>So how am I different to all the other coders out there?</p>
   <p>I have a wealth of professional domain experience from senior legal, IT policy, communications, information security and public sector roles. I will be able to bring this experience to any coding role.</p>
   <p>I'm from Australia, having recently moved to London.</p>
   <br />
   <div class="aboutme-hobbies">
      <p>Outside of coding, my interests include:</p>
      <table>
         <li>Stand-up comedy - watching and performing</ul>
         <li>Fitness – F45, indoor soccer, squash, snowboarding, jogging</li>
         <li>Discussing broader IT policy issues and their impacts on society</li>
         <li>Retro gaming, strategic board and card games</li>
         <li>Learning new recipes</li>
      </table>
   </div>
</div>
