<div class="user-details">
    <h1> Get in touch</h1>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<form class="wj-contact" method="POST" action="https://formspree.io/ivorking@gmail.com">
    <!-- <input type="text" name="_gotcha" style="display:none" /> -->
    <input type="text" name="name" placeholder="Your name">
    <input type="email" name="email" placeholder="Your email">
    <input type="subject" name="subject" placeholder="Message subject">
    <!-- <input type="hidden" name="_s ubject" value="New submission!" /> -->
    <textarea type="text" name="message" rows="7" placeholder="Your message"></textarea>
    <button type="submit">Submit</button>
</form>
