
  <div id="particles-js">
    <div class="header">
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="header-icons">
          <!-- <a aria-label="Send Email" target="_blank" href="mailto:ivorking@gmail.com"><i class="icon fa fa-envelope"></i></a> -->
          <a aria-label="Send Email" target="_blank" href="#contactform" data-scroll><i class="icon fa fa-envelope"></i></a>
          <a aria-label="Twitter" target="_blank" href="https://twitter.com/ivorjk"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/ivorking/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="Github" target="_blank" href="https://github.com/ivorking"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          <a aria-label="Stack Overflow" target="_blank" href="https://stackoverflow.com/users/story/9271040"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
          <a aria-label="YouTube Channel" target="_blank" href="https://www.youtube.com/channel/UCHn8vp3ygGEDbBbIYCC5QjA"><i class="icon fa fa-youtube-play" aria-hidden="true"></i></a>
          <a aria-label="Meetup" target="_blank" href="https://www.meetup.com/members/13472960/"><i class="icon fa fa-meetup" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
          <a class="link" href="#skills" data-scroll>Skills</a>
          <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
          <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
        {% include wavefield.html %}
      </div>
    <a class="down" href="#skills" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>


