<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sherpa" src="{{ "/assets/img/sherpa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Board Game Sherpa </h3>
    <ul>
      <li> Ruby on Rails</li>
      <li> PostgreSQL</li>
      <li> Bootstrap</li>
      <li> SASS</li>
    </ul>
    <p>This app is designed to connect experts in board and card games with new players who are keen to have a games night, but don't want to spend the first hour reading instruction manuals.</p>
    <a class="project-link" href="https://sherpa-app.herokuapp.com/ ">Check it out</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <img alt="textfire" src="{{ "/assets/img/textfire.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> textFIRE </h3>
    <ul>
      <li> Phaser 3</li>
      <li> Javascript</li>     
    </ul>
    <p>The challenge was to develop a game using Phaser 3, which a new Javascript game development library, with the documentation still being completed.</p>
    <a class="project-link" href="https://ivorking.github.io/textfire/">Check it out</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
    <img alt="gunreform" src="{{ "/assets/img/gunreform.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gun Law Reform </h3>
    <ul>
      <li> Ruby on Rails</li>
      <li> PostgreSQL</li>
      <li> Heroku</li>
    </ul>
    <p>With ongoing gun violence in USA and other countries, this is a platform and campaign engine to support strategic, co-ordinated gun law reform efforts across a number of jurisdictions.</p>
    <a class="project-link" href="https://gunreform.herokuapp.com/">Check it out</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <img alt="tictactoe" src="{{ "/assets/img/tictactoe.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tic Tac Toe </h3>
    <ul>
      <li> HTML</li>
      <li> CSS</li>
    </ul>
    <p>This is a simple implementation of the classic game of Tic Tac Toe, but I aimed for a visually engaging design, and the game includes basic AI for the human vs computer mode.</p>
    <a class="project-link" href="https://ivorking.github.io/Project0/">Check it out</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
    <img alt="norris" src="{{ "/assets/img/norris.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Chuck Norris Meme Maker </h3>
    <ul>
      <li> APIs</li>
    </ul>
    <p>This web app using a Chuck Norris API to generate a meme, giving the user multiple options for meme types to select from.</p>
    <a class="project-link" href="https://ivorking.github.io/norris/">Check it out</a>
  </div>
</div>

