<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="sherpa" src="{{ "/assets/img/sherpa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Board Game Sherpa </h3>
    <ul>
      <li> Ruby on Rails</li>
      <li> PostgreSQL</li>
      <li> Bootstrap</li>
      <li> Sass</li>
    </ul>
    <p>This app is designed to connect experts in board and card games with new players who are keen to have a games night, but don't want to spend the first hour reading instruction manuals.</p>
    <a class="project-link" target="_blank" href="https://sherpa-app.herokuapp.com/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/austinnash80/games_server">View code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <img alt="textfire" src="{{ "/assets/img/textfire.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> textFIRE </h3>
    <ul>
      <li> Phaser3</li>
      <li> JavaScript</li>
      <li> ES6</li>
    </ul>
    <p>The challenge was to develop a game using Phaser 3, which a new JavaScript game development library, with the documentation still being completed.</p>
    <a class="project-link" target="_blank" href="https://ivorking.github.io/textfire/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/ivorking/textfire">View code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
    <img alt="calc" src="{{ "/assets/img/reactpic2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Calculator of Doom </h3>
    <ul>
      <li> React</li>
      <li> JSX</li>
      <li> JavaScript</li>
      <li> npm</li>
      <li> SCSS</li>
    </ul>
    <p>A calculator app (with a twist), desiged to showcase React components.</p>
    <a class="project-link" target="_blank" href="https://ivorking.github.io/reactcalc/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/ivorking/reactcalc">View code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <img alt="gunreform" src="{{ "/assets/img/gunreform.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gun Law Reform </h3>
    <ul>
      <li> Ruby on Rails</li>
      <li> PostgreSQL</li>
      <li> Heroku</li>
    </ul>
    <p>With ongoing gun violence in USA and other countries, this is a platform and campaign engine to support strategic, co-ordinated gun law reform efforts across multiple jurisdictions.</p>
    <a class="project-link" target="_blank" href="https://gunreform.herokuapp.com/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/ivorking/gunreform">View code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-right">
    <img alt="tictactoe" src="{{ "/assets/img/tictactoe.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tic Tac Toe </h3>
    <ul>
      <li> HTML5</li>
      <li> CSS3</li>
    </ul>
    <p>This is a simple implementation of the classic game of Tic Tac Toe, but I aimed for a visually engaging design, and the game includes basic AI for the human vs computer mode.</p>
    <a class="project-link" target="_blank" href="https://ivorking.github.io/Project0/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/ivorking/Project0">View code</a>
  </div>
</div>
<br />
<div class="user-projects">
  <div class="images-left">
    <img alt="norris" src="{{ "/assets/img/norris.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Chuck Norris Meme Maker </h3>
    <ul>
      <li> APIs</li>
      <li> jQuery</li>
    </ul>
    <p>This web app using a Chuck Norris API to generate a meme, giving the user multiple options for meme types to select from.</p>
    <a class="project-link" target="_blank" href="https://ivorking.github.io/norris/">Live site</a>
    <a class="project-link" target="_blank" href="https://github.com/ivorking/norris">View code</a>
  </div>
</div>

