<div class="user-details">
  <h1> Skills </h1>
  <div class="skills-info">
    <p>
        {{site.user_description}}
    </p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>JavaScript</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <p>I have JavaScript coding skills, and have developed web apps using JavaScript, jQuery, React, Node.JS and Underscore.</p>
  </div>
  <div class="tech">
    <h2>Ruby</h2>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <p>My Ruby experience includes using Ruby on Rails, and developing and implementing CRUD systems using Ruby with a PostgreSQL server back-end.</p>
  </div>
  <div class="tech">
    <h2>HTML/CSS</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <p>I have a strong practical understanding of and experience with HTML5 and CSS3, including using bootstrap, SASS and font-awesome.</p>
  </div>
</div>
