---
---

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: inherit;
	font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: transparent;
}
ol, ul {
	list-style-type: disc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'vars';

form.wj-contact input[type="text"], form.wj-contact input[type="email"], form.wj-contact input[type="subject"] {
    display: block;
    width: 30em;
    vertical-align: middle;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.wj-contact textarea[type="text"] {
    display: block;
    width: 30em;
    vertical-align: middle;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.wj-contact button[type="submit"] {
    display: block;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    color: $main;
    background-color: transparent;
    border: 1px solid $main;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
    &:hover {
      background-color: $purple;
      border-color: $purple;
      color: #fff;
      transition: color 0.3s ease-in,
                  background-color 0.3s ease-in,
                  border-color 0.3s ease-in;
    }
    &:active {
      background-color: $purple;
      border-color: $purple;
      color: #fff;
      transition: color 0.3s ease-in,
      background-color 0.3s ease-in,
      border-color 0.3s ease-in;
    }
}

@media only screen and (max-width: 31em) {
    form.wj-contact input[type="email"], form.wj-contact input[type="subject"], form.wj-contact input[type="text"], form.wj-contact textarea[type="text"] {
      width: 85%;
    }
}

@import "normalize";
@import "fontawesome";
@import "devicon";

@import 'base';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';
