---
---

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: disc;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

form.wj-contact input[type="text"], form.wj-contact input[type="email"], form.wj-contact input[type="subject"], form.wj-contact input[type="text"], form.wj-contact input[type="text"] {
    display: block;
    width: 30em;
    vertical-align: middle;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.wj-contact textarea[type="text"] {
    display: block;
    width: 30em;
    vertical-align: middle;
    margin: auto;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}

form.wj-contact button[type="submit"] {
    display: block;
    vertical-align: middle;
    margin: auto;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #2e83e6;
    border-radius: 3px;
    padding: 0.5em;
    margin-top: 0.25em;
    border: 1px solid transparent;
    height: auto;
}

@media only screen and (max-width: 31em) {
    form.wj-contact input[type="email"], form.wj-contact input[type="subject"], form.wj-contact input[type="text"], form.wj-contact textarea[type="text"] {
        width: 22em;
    }
}

@import "normalize";
@import "fontawesome";
@import "devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';
